<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a>
        <a class="btn btn-primary btn-lg" href="/hemisphere" role="button">View Hemisphere</a>
      </p>
    </div>

    <!-- Data -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h1>Latest Mars News</h1>
        <h4>{{mars.news_title}}</h4>
        <p>{{mars.news_parag}}</p>
      </div>
      <div class="row" id="mars-img">
        <div class="col-md-8">
          <h1>Featured Mars Image</h1>
          <img src = "{{mars.featured_image_url}}" alt="Mars_Image">
        </div>
        <div class="col-md-4">
          <h4>Current Weather on Mars</h4>
          <p>{{mars.mars_weather}}</p>
          <br>
          <h4>Mars Facts</h4>
          <p>{{mars.table|safe}}</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

